# project template
/tmp/
/node_modules/

# temp and trash
.DS_Store
/*.log
/.eslintcache
/package-lock.json
/yarn.lock
/yarn-error.log
/.pnpm-debug.log

# svelte-kit
/build/
/.svelte-kit/
/package/
.env
.env.*
!.env.example
